<section class="c-header">
    <div class="container">
        <div class="c-header__nav">
            <div class="c-header__text">
                Test AngularJS senegocia
            </div>
            <div class="c-header__text">
                Patricio Valenzuela L.
            </div>
        </div>
    </div>
</section>

<style>
    .c-header {
        padding: 1.5rem 0;
        box-shadow: 0 3px 25px rgba(0, 0, 0, .2);
    }

    .c-header__text {
        font-size: 1.3rem;
        color: #333;
        font-weight: 500;
    }

    .c-header__nav {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-left: -15px;
        margin-right: -15px;
    }
</style>