<div class="container">
    <div class="row">
        <h4 class="title margin-title">Usuarios desde:
            <code>
                <a class="no-link" href="{{url}}">{{url}}</a>
            </code>
        </h4>
    </div>
    <div class="row">
        <div class="flex-items users">
            <p class="users__username" ng-repeat="user in data">
                {{user.username}}
            </p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <h4 class="title margin-title">Detalle de usuarios: </h4>
    </div>
    <div class="row">
        <div class="flex-items">
            <user-detail ng-repeat="user in data" usuario="user"></user-detail>
        </div>
    </div>
</div>
</div>


<style>
    .users {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .users__username {
        color: #333;
        font-weight: 600;
        text-transform: lowercase;
    }

    .flex-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .margin-title {
        margin: 1.5rem 0 1.5rem 0;
    }

    .no-link,
    .no-link:hover {
        color: unset;
        text-decoration: none;
    }
</style>